/* Layout */

body{
    padding: 5px 10px;
}

nav{
    height: auto;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

nav :last-child{
    margin-left: auto;
}

/* Sikkerhedslog */

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}